body {
  /*background: "images/the-tree-in-the-forest.jpg");*/
  background: url("https://cdn-images-1.medium.com/max/2400/1*Yd2JS7Jo7W6DHf6VBmGnIg.jpeg");
  background-size: cover;
  /*background-color: rgb(235, 235, 235);*/
   font-family: 'Poppins', sans-serif;
   color: #6b0909;
   font-size: 14px;
   line-height: 30px;



}

h1, h2, a{
  font-family: 'Roboto', serif;
  font-weight: bold;
  color: #e5b509;
}

h2 {
  font-size: 30px;
  font-weight: 400;

}

a {
  color: rgb(60, 60, 60);
  text-decoration: none;
  transition: color 0.2s ease;

}

a:hover {
  color: rgb(160, 160, 160);
}

ul {
  list-style: none;
  padding-left: 0 ;
}
ul li {
  display: inline-block;
  list-style: none;
  margin: 0 20px;
  font-size: 50px
}

.card{
  text-align: center;
  background-color: white;
  padding: 50px;
  width: 800px;
  margin: 20px auto;
  border-radius: 5px;
  box-shadow: 0px 15px 30px rgba(0,0,0,0.1);
  opacity: 0.95;
}

#circle-pic {
  border-radius: 50%;
  opacity: 1;
}

.btn-blue {
  background-color: #e5b509;
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.2s ease;
  margin: 0 20px;
  opacity: 1.2;
  /*margin: 30px auto;*/
}

.btn-blue:hover {
  background-color: #efcc64;
  color: white;
}


@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .card {
    width: 800px;
  }
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .card {
    width: 500px;
  }
}


@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .card {
    width: 300px;
  }

}

